@import './../../scss/variables';

.app-header {
    background-color: $primary_color_1;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 35px;
            padding: 20px;
        }
        .logo-text{
            color: $white_color;
            margin-top: 15px;
            margin-left: -8px;
            letter-spacing: 5px;
        }
    }
    .nav-search{
        margin-top: 10px;
        .ant-input-wrapper{
            border: 1px solid white;
            border-radius: 5px; 
            .ant-button{
                &:hover{
                    color:transparent;
                }
            }
        }
        input{
            padding: 10px 11px;
            background: transparent;
            border: none;
        }
        .ant-input-search-button{
            background: transparent;
            border: none;
            box-shadow: none;
        }
    }
    .login-button{
        background: $white_color;
        color:$primary_color_1;
        font-weight: bold;
        height: auto;
        span{
            padding:5px 10px;
        }
        &:hover{
            background: $white_color;
        }
    }
    .profile-img{
        cursor: pointer;
        width: 50px;
        height: auto;
        margin-top: 7px;
        border-radius: 50%;
    }
}