@import "./../../scss/_variables";
@import "./../../scss/_mixins";

.app-header {
  background-color: $primary_color_1;
  padding-inline: 0px;

  @include respond-to($breakpoint-sm) {
    height: 135px;
  }
  .ant-row {
    align-items: center;
    @include respond-to($breakpoint-sm) {
      display: flex;
      flex-direction: column;
    }
    .ant-col-8 {
      @include respond-to($breakpoint-sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 35px;
      padding-right: 25px;
    }
    .logo-text {
      color: $white_color;
      margin-top: 10px;
      margin-left: -8px;
      letter-spacing: 5px;
    }
  }
  .headerFormm {
    display: flex;
    align-items: center;
    @include respond-to($breakpoint-sm) {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      max-width: 100%;
      margin-inline-start: 0;
    }

    .nav-search {
      .ant-input-wrapper {
        border: 1px solid white;
        border-radius: 5px;
        .ant-button {
          &:hover {
            color: transparent;
          }
        }
      }
      input {
        padding: 10px 11px;
        background: transparent;
        border: none;
        color: $white_color;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      .ant-input-group-addon {
        background: transparent;
        border: none;
        color: $white_color;
        font-size: 15px;
        .ant-input-search-button {
          background: transparent;
          border: none;
          box-shadow: none;
          color: $white_color !important;
          &:focus {
            box-shadow: none;
            outline: none;
          }
          &:focus-visible {
            box-shadow: none;
            outline: none;
          }
        }
      }
      input::placeholder {
        color: $white_color;
        opacity: 1;
      }
      input:-ms-input-placeholder {
        color: $white_color;
      }
      input::-ms-input-placeholder {
        color: $white_color;
      }
    }
    .login-button {
      background: $white_color;
      color: $primary_color_1;
      font-weight: bold;
      height: auto;
      margin-left: 25px;
      span {
        padding: 5px 10px;
      }
      &:hover {
        background: $white_color;
        color:$primary_color_1;
      }
    }
  }
  .profile-img {
    cursor: pointer;
    width: 45px;
    height: auto;
    margin-left: 15px;
    border-radius: 50%;
  }
}
.signed-user {
  font-weight: bold;
}
