$primary_color_1: #5ACBA1;
$primary_color_2: #DEF5EC;
$primary_color_3: #6FAEFF;
$primary_color_5: #0070ff;
$primary_color_4: #cbbcbc;
$white_color:#ffffff;
$gray_color:#8b8787;
$light_gray_color:#e0e0e0;
$white_box_shadow:0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);

